.about {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.about-left {
    flex-basis: 44%;
    position: relative;
}

.about-right {
    flex-basis: 56%;
    position: relative;
}

.organic {
    width: 100%
}

.about h3 {
    font-weight: 600;
    font-weight: 16px;
    color: #214a2c
}

.about h2 {
    font-size: 35px;
    color: #000F38;
    margin: 10px;
}

.btn-fabricantes {
    padding: 10px 25px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 30px; 
    cursor: pointer;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: #214a2c;
}