* {
  margin: 0; /* Elimina el margen predeterminado */  
  padding: 0; /* Elimina el relleno predeterminado */  
  box-sizing: border-box; 
}

body {
  font-family: "Outfit", sans-serif;
}

body::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
}

